@tailwind base;
@tailwind components;
@tailwind utilities;

[id^='movie-'] {
  transform: scale(0.75);
}

[id^='movie-']:hover {
  transform: scale(0.9);
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.oldMovie:hover {
  transform: scale(0.9);
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.selectedMovie {
  transform: scale(0.9);
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
